{
  "env": {
    "development": {
        "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
        "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}

mkdir __tests__
mkdir __tests__/reducers
mkdir src/reducers
